<%= form_for(current_user.follower_relationships.build(followed_id: @user.id)) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Follow", :class => "btn btn-large btn-primary" %>
<% end %>