<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's on your mind?</h1>
        <%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
<h1>First draft</h1>
<p>
	Update in progress.
</p>
<%= link_to "Sign in", '#', :class => "signup_button round" %>

<% end %>