<footer class="footer">
 <small>
    <a href="https://github.com/Maxxi/SoundClone">SoundClone</a>
    by Maxime Eglem, Stefan Sigle, Matthias Abele and Alexander Hensel
  </small>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>